<footer class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <strong>Credits</strong>
        <table class="table table-sm">
          <tr>
            <td>Main Director:</td>
            <td><a href="https://github.com/iOSyoungBrother">iOSyoungBrother</a></td>
          </tr>
          <tr>
            <td>Favorite:</td>
            <td>Reading x Game</td>
          </tr>
            <tr>
              <td>Profession:</td>
              <td>Software Engineer</td>
            </tr>
            <tr>
              <td>Temporary Residence:</td>
              <td>Hangzhou City</td>
            </tr>
          </table>
          <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        </div>

        <div class="col-md-6">
          <strong>Friend Links</strong>
          <table class="table table-sm">
            <tr>
              <td><a href="https://github.com/aLittleBottle"> aLittleBottle</a></td>
            </tr>
          </table>
        </div>

      </div>
    </div>  
  </footer>